
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}
#waybar {
  background-color: transparent;
  color: #eeeeef;
  font-size: 14px;
  font-family: "JetBrainsMono Nerd Font";
}

#workspaces {
    background: #eeeeef;
    margin: 5px 1px 6px 1px;
   /* padding: 0px 1px; */ 
    border-radius: 15px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    opacity: 1.0;
    font-size: 14px;
    color: #ced6d6;
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 15px;
    border: 0px;
    color: #c3c9c9;
    
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: #161617;
    background: #989a9e;
    border-radius: 15px;
    min-width: 25px;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#workspaces button:hover {
    color:#f0f5f5;
    background: #88888c;
    border-radius: 15px;
  
}


#custom-powermenu,
#cpu,
#temperature,
#memory,
#workspaces,
#clock,
#window,
#pulseaudio,
#network {
  padding: 4px 8px;
  background-color: #303643;
  border-radius: 30px;
  margin: 6px 4px;
}

#window {
  color: #929db1;
  padding-left: 10px;
  padding-right: 10px;
}

#tray {
  margin-left: 10px;
  margin-right: 10px;
}

#custom-updates {
  color: #1788e4;
}

#custom-powermenu {
  color: #e06c75;
  padding-right: 11px;
  margin-right: 8px;
    min-width: 20px;
     font-size: 14px;
}

#scratchpad {
  color: #cffafe;
  padding-right: 4px;
  padding-left: 4px;
}

#pulseaudio {
  color: #0fb9b1;
  padding-right: 10px;
    font-size: 14px;

}

#cpu {
  color: #61afef;
     padding-right: 10px;
  padding-left: 10px;
    font-size: 14px;

}

#temperature {
  color: #98c379;
    padding-right: 10px;
  padding-left: 10px;
    font-size: 14px;

}

#memory {
  color: #e5c07b;
    padding-right: 10px;
  padding-left: 10px;
    font-size: 14px;

}

#network {
  color: #c678dd;
  min-width: 200px;
    font-size: 14px;

}

#clock {
  color: #fff;
  margin-left: 8px;
    font-size: 14px;
  /* opacity: 0.7; */
  /* font-size: 18px; */
}
